* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hexcabulary-enclosure {
    user-select: none;
  -webkit-user-select: none; /*Safari*/
  -moz-user-select: none; /*Firefox*/
}

.paused .click-zone,
.paused .cell,
.paused {
    opacity: 0.5;
    cursor: not-allowed;
}

.cell {
    /* see also javascript generated sizing */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    padding: 0;
    margin: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #333;
}

.board {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #999;

    /* prevent highlighting text selection */
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.clicked * {
    color: #fff;
}

.click-zone {
    cursor: pointer;
    padding: 4px 16px;
    z-index: 9999;
}


.playbar {
    color: #fff;
    padding: 2em;
    position: absolute;
    bottom: 0;
    width: 100vw;
    background: #333;
    text-align: center;
    vertical-align: middle;
}
.playbar button {
    background-color: #000; 
    color: #ccc;
    border-radius: 12px;
    padding: 1em;
    min-width: 100px;
    margin: 4px;
}

.edit-mode,
.playbar button.edit-mode {
    background-color: orange;
    color: #000;
}
div.edit-mode *[data-editable="true"] {
    outline: 1px red dotted;
}

.fullWordFound {
    opacity: 0;
    cursor: default;
}
.fullWordFound .click-zone,
.sharedLetterClicked, 
.sharedLetterClicked .click-zone {
    cursor: default;
}

.found-word {
    display: none;
    text-decoration: line-through;
}

.hint * {
    animation: bouncy .4s infinite;
    /* see generate-css-classes.js if you want to modify background image/color */
}

.slow-reveal {
    animation: spin;
    animation-duration: 1s;
    animation-timing-function: linear; 
}
.slow-out {
    animation: reverse-spin;
    animation-duration: 1s;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform: scale(.1) rotate(-680deg);
        opacity: 0;
    }
    to {
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }
}

@keyframes reverse-spin {
    from {
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }
    to {
        transform: scale(.1) rotate(-680deg);
        opacity: 0;
    }
}

@keyframes bouncy {
    from, to { 
        transform: scale(1, 1); 
    }
    25% { 
        transform: scale(0.85, 1.15); 
    }
    75% { 
        transform: scale(1.15, 0.85); 
    }
}
