.cell {
    xxx-background-image: url(assets/hex.svg);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: center;
    outline: 1px red dotted;
    width: 100px;
    height: 70px;
    display: flex;
    padding: 0;
    margin: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

.board {
    position: relative;
    top: 0px;
    right: 0px;
    opacity: 0.8;
    width: fit-content(); /* 800px; */
    height: 600px;
    outline: 2px #000 solid;
}
